/* Empty. Add your own CSS if you like */

body {
  line-height: 1.4;
}

a {
  color: #0c73c2;
  text-decoration: none;
}


.timeline .item,.timeline .item-content {
  overflow: auto;
  text-overflow: inherit;
  white-space: normal;
  word-wrap: break-word;
}

.timeline .item-content {
  padding: 10px !important;
}

.t-header {
  margin-bottom: 5px;
}

.snow {
  color: #999;
}

.t-timeago {
  float: right;
}

.t-content img {
  max-width: 100%;
}

.compose {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 10px;
}

.compose i{
  color: #444;
  font-size: 24px;
  padding-right: 2px;
  padding-left: 2px;
}

.t-avatar {
  float: left;
  padding-top: 2px;
}

.t-avatar img {
  width: 33px;
}

.t-main {
  margin-left: 43px;
}

iframe {
  max-width: 100%;
}